@import "../../css/colors.css";

.save-now {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert {
    cursor: default;
}

.unsaved-dot {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50%;
    background: $ui-orange;
    vertical-align: middle;
}
